/* https://stackoverflow.com/questions/48474/how-do-i-position-one-image-on-top-of-another-in-html */
.imagelink { float: left; position: relative; } 
.cornerimage { position: absolute; top: 0; right: 0; }
.repo-nav-link { padding-left: 0.24rem !important; padding-right: 0.24rem !important; }
