<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" data-bs-theme="dark">
  <head>
    <title>Fragments</title>
  </head>
  <body>
	<ul th:fragment="tabs(tab)" class="nav nav-pills">
	  <li class="nav-item">
	    <a th:class="'nav-link' + ('all' == ${tab} ? ' active' : '') + (${org.countAllMedia(repo)} == 0 ? ' disabled': '')"
	       th:href="@{/{id}/all(id=${org.id},repo=${repo})}" th:text="'Free Media (' + ${org.countAllMedia(repo)} + ')'"></a>
	  </li>
	  <li class="nav-item">
	    <a th:class="'nav-link' + ('uploaded' == ${tab} ? ' active' : '') + (${org.countUploadedMedia(repo)} == 0 ? ' disabled': '')"
	       th:href="@{/{id}/uploaded(id=${org.id},repo=${repo})}" th:text="'Uploaded (' + ${org.countUploadedMedia(repo)} + ')'"></a>
	  </li>
	  <li class="nav-item">
	    <a th:class="'nav-link' + ('ignored' == ${tab} ? ' active' : '') + (${org.countIgnored(repo)} == 0 ? ' disabled': '')"
	       th:href="@{/{id}/ignored(id=${org.id},repo=${repo})}" th:text="'Ignored (' + ${org.countIgnored(repo)} + ')'"></a>
	  </li>
	  <li class="nav-item">
	    <a th:class="'nav-link' + ('missing/images' == ${tab} ? ' active' : '') + (${org.countMissingImages(repo)} == 0 ? ' disabled': '')"
	       th:href="@{/{id}/missing/images(id=${org.id},repo=${repo})}" th:text="'Images to upload (' + ${org.countMissingImages(repo)} + ')'"></a>
	  </li>
	  <li class="nav-item">
	    <a th:class="'nav-link' + ('missing/videos' == ${tab} ? ' active' : '') + (${org.countMissingVideos(repo)} == 0 ? ' disabled': '')"
	       th:href="@{/{id}/missing/videos(id=${org.id},repo=${repo})}" th:text="'Videos to upload (' + ${org.countMissingVideos(repo)} + ')'"></a>
	  </li>
	  <li class="nav-item">
	    <a th:class="'nav-link' + ('missing/documents' == ${tab} ? ' active' : '') + (${org.countMissingDocuments(repo)} == 0 ? ' disabled': '')"
	       th:href="@{/{id}/missing/documents(id=${org.id},repo=${repo})}" th:text="'Documents to upload (' + ${org.countMissingDocuments(repo)} + ')'"></a>
	  </li>
	  <li class="nav-item" th:if="${search != null}">
	    <a th:class="'nav-link' + ('topterms' == ${tab} ? ' active' : '')"
	       th:href="@{/{id}/topterms(id=${org.id})}">Top terms</a>
	  </li>
	  <li class="nav-item" th:if="${search != null and search.q != null}">
	    <a th:class="'nav-link' + ('search' == ${tab} ? ' active' : '')"
	       th:href="@{/{id}/search?q={q}(id=${org.id},q=${search.q})}" th:text="'Search results (' + ${medias.totalElements} + ')'"></a>
	  </li>
	</ul>
    <nav th:fragment="pagination_nav(page)" th:if="${page.totalPages > 1}" aria-label="Search results pages">
      <ul class="pagination">
        <li th:class="page-item" th:classappend="${page.number == 0} ? 'disabled'">
          <a class="page-link" th:if="${search == null or search.q == null}" th:href="@{''(repo=${repo}, size=${page.size}, page=0)}">
            <span aria-hidden="true" data-feather="chevrons-left" width="20" height="20"></span></a>
          <a class="page-link" th:if="${search != null and search.q != null}" th:href="@{''(q=${search.q}, size=${page.size}, page=0)}">
            <span aria-hidden="true" data-feather="chevrons-left" width="20" height="20"></span></a>
        </li>
        <li th:class="page-item" th:classappend="${page.number == 0} ? 'disabled'">
          <a class="page-link" th:if="${search == null or search.q == null}" th:href="@{''(repo=${repo}, size=${page.size}, page=${page.number-1})}">
            <span aria-hidden="true" data-feather="chevron-left" width="20" height="20"></span></a>
          <a class="page-link" th:if="${search != null and search.q != null}" th:href="@{''(q=${search.q}, size=${page.size}, page=${page.number-1})}">
            <span aria-hidden="true" data-feather="chevron-left" width="20" height="20"></span></a>
        </li>
        <li class="page-item disabled" th:if="${page.number - 20 > 0}">
          <a class="page-link" href="#"><span data-feather="more-horizontal" width="20" height="20"></span></a>
        </li>
        <li th:class="page-item" th:classappend="${pageNumber==page.number + 1} ? 'active'"
            th:each="pageNumber : ${#numbers.sequence(
                page.number > 20 ? page.number - 20 : 1,
                page.number + 20 < page.totalPages ? page.number + 20 : page.totalPages)}">
          <a class="page-link" th:if="${search == null or search.q == null}" th:href="@{''(repo=${repo}, size=${page.size}, page=${pageNumber-1})}" th:text="${pageNumber}"></a>
          <a class="page-link" th:if="${search != null and search.q != null}" th:href="@{''(q=${search.q}, size=${page.size}, page=${pageNumber-1})}" th:text="${pageNumber}"></a>
        </li>
        <li class="page-item disabled" th:if="${page.number + 20 < page.totalPages-1}">
          <a class="page-link" href="#"><span data-feather="more-horizontal" width="20" height="20"></span></a>
        </li>
        <li th:class="page-item" th:classappend="${page.number >= page.totalPages-1} ? 'disabled'">
          <a class="page-link" th:if="${search == null or search.q == null}" th:href="@{''(repo=${repo}, size=${page.size}, page=${page.number+1})}">
            <span aria-hidden="true" data-feather="chevron-right" width="20" height="20"></span></a>
          <a class="page-link" th:if="${search != null and search.q != null}" th:href="@{''(q=${search.q}, size=${page.size}, page=${page.number+1})}">
            <span aria-hidden="true" data-feather="chevron-right" width="20" height="20"></span></a>
        </li>
        <li th:class="page-item" th:classappend="${page.number >= page.totalPages-1} ? 'disabled'">
          <a class="page-link" th:if="${search == null or search.q == null}" th:href="@{''(repo=${repo}, size=${page.size}, page=${page.totalPages-1})}">
            <span aria-hidden="true" data-feather="chevrons-right" width="20" height="20"></span></a>
          <a class="page-link" th:if="${search != null and search.q != null}" th:href="@{''(q=${search.q}, size=${page.size}, page=${page.totalPages-1})}">
            <span aria-hidden="true" data-feather="chevrons-right" width="20" height="20"></span></a>
        </li>
      </ul>
    </nav>
  </body>
</html>