<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" data-bs-theme="dark">
  <head th:replace="~{_header :: common_header(~{::title},~{})}">
    <title th:text="Spacemedia + ' - ' + ${org.name}"></title>
  </head>
  <body>
    <nav aria-label="Site navigation" th:replace="~{_header :: navbar}"></nav>
    <nav aria-label="Org navigation" class="navbar navbar-expand-lg">
		<a class="navbar-brand" th:text="${org.name}"></a>
		<div th:if="${org.multiRepo}" class="collapse navbar-collapse">
			<ul class="navbar-nav d-flex flex-wrap">
				<li class="nav-item">
					<a data-toggle="tooltip" th:class="'nav-link' + (${repo} == null ? ' active' : '')" th:href="@{/{id}(id=${org.id})}" th:text="All" th:title="All"></a>
				</li>
				<li class="nav-item" th:each="repoId : ${org.repoIdsSortedByUiText}" >
					<a data-toggle="tooltip" th:class="'nav-link repo-nav-link' + (${repoId} == ${repo} ? ' active' : '')" th:href="@{/{id}?repo={repo}(id=${org.id},repo=${repoId})}" th:text="${org.getUiRepoId(repoId)}" th:title="${org.getUiTooltip(repoId)}"></a>
				</li>
			</ul>
		</div>
	</nav>
    <ul th:replace="~{_media :: tabs(${tab})}"></ul>
    <!-- Medias tabs -->
    <div th:if="${medias}">
	    <nav aria-label="Media navigation top" th:replace="~{_media :: pagination_nav(${medias})}"></nav>
	    <table class="table table-sm table-hover">
	      <thead class="thead-dark">
		      <tr>
		        <th>Media</th>
		        <th>Title</th>
		        <th>Date</th>
		        <th>Description</th>
		        <th th:if="'missing' != ${tab} and 'missing/images' != ${tab} and 'missing/videos' != ${tab} and 'missing/documents' != ${tab}">Commons</th>
		        <th th:if="'ignored' == ${tab}">Reason</th>
		      <tr>
	      </thead>
	      <tbody>
		      <tr th:each="media : ${medias}">
		        <td>
		          <a th:href="${org.getSourceUrl(media)}" class="imagelink">
		            <canvas th:id="${media.id.mediaId}" width="210px" style="width:210px" th:alt="${media.id.mediaId}" th:if="${media.COG and #strings.contains(media.PreviewUrl,'.tif')}" class="img_cog"></canvas>
		            <img th:id="${media.id.mediaId}" width="210px" th:alt="${media.id.mediaId}" th:unless="${media.COG and #strings.contains(media.PreviewUrl,'.tif')}" th:src="${media.PreviewUrl}">
		            <img th:if="${media.video}" class="cornerimage" width="80px" src="/Antu_videoclip-amarok.svg" alt="">
		            <img th:if="${media.audio}" class="cornerimage" width="80px" src="/Antu_audio-volume-high.svg" alt="">
		          </a>
                  <a th:href="@{/{id}/rest/refreshmedia/{mid}(id=${org.id},mid=${media.id})}" target="_blank">
                    <img width="24" height="24" th:alt="'refresh ' + ${media.id}" th:src="@{/Gtk-refresh-green.svg}">
                  </a>
                  <a th:href="@{/{id}/rest/uploadmedia/{mid}(id=${org.id},mid=${media.id})}" target="_blank" th:if="${org.uploadEnabled}">
                    <img width="24" height="24" th:alt="'upload ' + ${media.id}" th:src="@{/Wlm-icon-upload-green.svg}" />
                  </a>
		          <div th:fragment="assets (assetsToUpload)" th:each="asset : ${assetsToUpload}">
		          	<a th:href="@{/{id}/rest/wiki/{sha1}(id=${org.id},sha1=${asset})}" target="_blank">
		          		<img width="24" height="24" th:alt="'wikihtml ' + ${asset}" th:src="@{/Emblem-search.svg}">
		          	</a>
		          	<a th:href="@{/{id}/rest/wikicode/{sha1}(id=${org.id},sha1=${asset})}" target="_blank">
		          		<img width="24" height="24" th:alt="'wikicode ' + ${asset}" th:src="@{/Curly_brackets_icon.svg}">
		          	</a>
		          	<a th:href="@{/{id}/rest/upload/{sha1}(id=${org.id},sha1=${asset})}" target="_blank" th:if="${org.uploadEnabled}">
		          		<img width="24" height="24" th:alt="'upload ' + ${asset}" th:src="@{/Wlm-icon-upload-red.svg}">
		          	</a>
		          </div>
		          <div th:if="'missing' == ${tab}">
                    <div th:replace="~{org_index :: assets(assetsToUpload=${media.assetsToUpload})}"></div>
		          </div>
		          <div th:if="'missing/images' == ${tab}">
                    <div th:replace="~{org_index :: assets(assetsToUpload=${media.imageAssetsToUpload})}"></div>
		          </div>
		          <div th:if="'missing/videos' == ${tab}">
                    <div th:replace="~{org_index :: assets(assetsToUpload=${media.videoAssetsToUpload})}"></div>
		          </div>
		          <div th:if="'missing/documents' == ${tab}">
                    <div th:replace="~{org_index :: assets(assetsToUpload=${media.documentAssetsToUpload})}"></div>
		          </div>
		          <div th:if="'missing/audios' == ${tab}">
                    <div th:replace="~{org_index :: assets(assetsToUpload=${media.audioAssetsToUpload})}"></div>
		          </div>
		        </td>
		        <td>
		          <a th:text="${media.title}"></a><br>
                  <a th:href="@{/{id}/rest/uploadbytitle/{title}(id=${org.id},repo=${repo},title=${media.title})}" target="_blank" th:if="${org.uploadEnabled} and 'missing' == ${tab}">
                    <img width="24" height="24" th:alt="'upload ' + ${media.title}" th:src="@{/Wlm-icon-upload-green.svg}">
                  </a>
                  <a th:href="@{/{id}/rest/uploadimagesbytitle/{title}(id=${org.id},repo=${repo},title=${media.title})}" target="_blank" th:if="${org.uploadEnabled} and 'missing/images' == ${tab}">
                    <img width="24" height="24" th:alt="'upload ' + ${media.title}" th:src="@{/Wlm-icon-upload-green.svg}">
                  </a>
                  <a th:href="@{/{id}/rest/uploadvideosbytitle/{title}(id=${org.id},repo=${repo},title=${media.title})}" target="_blank" th:if="${org.uploadEnabled} and 'missing/videos' == ${tab}">
                    <img width="24" height="24" th:alt="'upload ' + ${media.title}" th:src="@{/Wlm-icon-upload-green.svg}">
                  </a>
                  <a th:href="@{/{id}/rest/uploaddocumentsbytitle/{title}(id=${org.id},repo=${repo},title=${media.title})}" target="_blank" th:if="${org.uploadEnabled} and 'missing/documents' == ${tab}">
                    <img width="24" height="24" th:alt="'upload ' + ${media.title}" th:src="@{/Wlm-icon-upload-green.svg}">
                  </a>
		        </td>
		        <td>
		          <a th:text="${media.publicationDate}" th:if="${media.publicationDate} != null"></a>
		          <a th:text="${media.publicationMonth}" th:if="${media.publicationDate} == null and ${media.publicationMonth} != null"></a>
		          <a th:text="${media.publicationYear}" th:if="${media.publicationDate} == null and ${media.publicationMonth} == null"></a>
		          <br>
                  <!-- uploads by date -->
                  <a th:href="@{/{id}/rest/uploadbydate/{date}(id=${org.id},repo=${repo},date=${media.publicationDate})}" target="_blank" th:if="${org.uploadEnabled} and 'missing' == ${tab} and ${media.publicationDate} != null">
                    <img width="24" height="24" th:alt="'upload ' + ${media.publicationDate}" th:src="@{/Wlm-icon-upload-green.svg}">
                  </a>
                  <a th:href="@{/{id}/rest/uploadimagesbydate/{date}(id=${org.id},repo=${repo},date=${media.publicationDate})}" target="_blank" th:if="${org.uploadEnabled} and 'missing/images' == ${tab} and ${media.publicationDate} != null">
                    <img width="24" height="24" th:alt="'upload ' + ${media.publicationDate}" th:src="@{/Wlm-icon-upload-green.svg}">
                  </a>
                  <a th:href="@{/{id}/rest/uploadvideosbydate/{date}(id=${org.id},repo=${repo},date=${media.publicationDate})}" target="_blank" th:if="${org.uploadEnabled} and 'missing/videos' == ${tab} and ${media.publicationDate} != null">
                    <img width="24" height="24" th:alt="'upload ' + ${media.publicationDate}" th:src="@{/Wlm-icon-upload-green.svg}">
                  </a>
                  <a th:href="@{/{id}/rest/uploaddocumentsbydate/{date}(id=${org.id},repo=${repo},date=${media.publicationDate})}" target="_blank" th:if="${org.uploadEnabled} and 'missing/documents' == ${tab} and ${media.publicationDate} != null">
                    <img width="24" height="24" th:alt="'upload ' + ${media.publicationDate}" th:src="@{/Wlm-icon-upload-green.svg}">
                  </a>
                  <!-- uploads by month -->
                  <a th:href="@{/{id}/rest/uploadbymonth/{month}(id=${org.id},repo=${repo},month=${media.publicationMonth})}" target="_blank" th:if="${org.uploadEnabled} and 'missing' == ${tab} and ${media.publicationMonth} != null">
                    <img width="24" height="24" th:alt="'upload ' + ${media.publicationMonth}" th:src="@{/Wlm-icon-upload-blue.svg}">
                  </a>
                  <a th:href="@{/{id}/rest/uploadimagesbymonth/{month}(id=${org.id},repo=${repo},month=${media.publicationMonth})}" target="_blank" th:if="${org.uploadEnabled} and 'missing/images' == ${tab} and ${media.publicationMonth} != null">
                    <img width="24" height="24" th:alt="'upload ' + ${media.publicationMonth}" th:src="@{/Wlm-icon-upload-blue.svg}">
                  </a>
                  <a th:href="@{/{id}/rest/uploadvideosbymonth/{month}(id=${org.id},repo=${repo},month=${media.publicationMonth})}" target="_blank" th:if="${org.uploadEnabled} and 'missing/videos' == ${tab} and ${media.publicationMonth} != null">
                    <img width="24" height="24" th:alt="'upload ' + ${media.publicationMonth}" th:src="@{/Wlm-icon-upload-blue.svg}">
                  </a>
                  <a th:href="@{/{id}/rest/uploaddocumentsbymonth/{month}(id=${org.id},repo=${repo},month=${media.publicationMonth})}" target="_blank" th:if="${org.uploadEnabled} and 'missing/documents' == ${tab} and ${media.publicationMonth} != null">
                    <img width="24" height="24" th:alt="'upload ' + ${media.publicationMonth}" th:src="@{/Wlm-icon-upload-blue.svg}">
                  </a>
                  <!-- uploads by year -->
                  <a th:href="@{/{id}/rest/uploadbyyear/{year}(id=${org.id},repo=${repo},year=${media.publicationYear})}" target="_blank" th:if="${org.uploadEnabled} and 'missing' == ${tab}">
                    <img width="24" height="24" th:alt="'upload ' + ${media.publicationYear}" th:src="@{/Wlm-icon-upload-red.svg}">
                  </a>
                  <a th:href="@{/{id}/rest/uploadimagesbyyear/{year}(id=${org.id},repo=${repo},year=${media.publicationYear})}" target="_blank" th:if="${org.uploadEnabled} and 'missing/images' == ${tab}">
                    <img width="24" height="24" th:alt="'upload ' + ${media.publicationYear}" th:src="@{/Wlm-icon-upload-red.svg}">
                  </a>
                  <a th:href="@{/{id}/rest/uploadvideosbyyear/{year}(id=${org.id},repo=${repo},year=${media.publicationYear})}" target="_blank" th:if="${org.uploadEnabled} and 'missing/videos' == ${tab}">
                    <img width="24" height="24" th:alt="'upload ' + ${media.publicationYear}" th:src="@{/Wlm-icon-upload-red.svg}">
                  </a>
                  <a th:href="@{/{id}/rest/uploaddocumentsbyyear/{year}(id=${org.id},repo=${repo},year=${media.publicationYear})}" target="_blank" th:if="${org.uploadEnabled} and 'missing/documents' == ${tab}">
                    <img width="24" height="24" th:alt="'upload ' + ${media.publicationYear}" th:src="@{/Wlm-icon-upload-red.svg}">
                  </a>
		          <br>
                  <!-- refreshs by date -->
                  <a th:href="@{/{id}/rest/refreshbydate/{date}(id=${org.id},repo=${repo},date=${media.publicationDate})}" target="_blank" th:if="'missing' == ${tab} and ${media.publicationDate} != null">
                    <img width="24" height="24" th:alt="'refresh ' + ${media.publicationDate}" th:src="@{/Gtk-refresh-green.svg}">
                  </a>
                  <a th:href="@{/{id}/rest/refreshimagesbydate/{date}(id=${org.id},repo=${repo},date=${media.publicationDate})}" target="_blank" th:if="'missing/images' == ${tab} and ${media.publicationDate} != null">
                    <img width="24" height="24" th:alt="'refresh ' + ${media.publicationDate}" th:src="@{/Gtk-refresh-green.svg}">
                  </a>
                  <a th:href="@{/{id}/rest/refreshvideosbydate/{date}(id=${org.id},repo=${repo},date=${media.publicationDate})}" target="_blank" th:if="'missing/videos' == ${tab} and ${media.publicationDate} != null">
                    <img width="24" height="24" th:alt="'refresh ' + ${media.publicationDate}" th:src="@{/Gtk-refresh-green.svg}">
                  </a>
                  <a th:href="@{/{id}/rest/refreshdocumentsbydate/{date}(id=${org.id},repo=${repo},date=${media.publicationDate})}" target="_blank" th:if="'missing/documents' == ${tab} and ${media.publicationDate} != null">
                    <img width="24" height="24" th:alt="'refresh ' + ${media.publicationDate}" th:src="@{/Gtk-refresh-green.svg}">
                  </a>
                  <!-- refreshs by month -->
                  <a th:href="@{/{id}/rest/refreshbymonth/{month}(id=${org.id},repo=${repo},month=${media.publicationMonth})}" target="_blank" th:if="'missing' == ${tab} and ${media.publicationMonth} != null">
                    <img width="24" height="24" th:alt="'refresh ' + ${media.publicationMonth}" th:src="@{/Gtk-refresh-blue.svg}">
                  </a>
                  <a th:href="@{/{id}/rest/refreshimagesbymonth/{month}(id=${org.id},repo=${repo},month=${media.publicationMonth})}" target="_blank" th:if="'missing/images' == ${tab} and ${media.publicationMonth} != null">
                    <img width="24" height="24" th:alt="'refresh ' + ${media.publicationMonth}" th:src="@{/Gtk-refresh-blue.svg}">
                  </a>
                  <a th:href="@{/{id}/rest/refreshvideosbymonth/{month}(id=${org.id},repo=${repo},month=${media.publicationMonth})}" target="_blank" th:if="'missing/videos' == ${tab} and ${media.publicationMonth} != null">
                    <img width="24" height="24" th:alt="'refresh ' + ${media.publicationMonth}" th:src="@{/Gtk-refresh-blue.svg}">
                  </a>
                  <a th:href="@{/{id}/rest/refreshdocumentsbymonth/{month}(id=${org.id},repo=${repo},month=${media.publicationMonth})}" target="_blank" th:if="'missing/documents' == ${tab} and ${media.publicationMonth} != null">
                    <img width="24" height="24" th:alt="'refresh ' + ${media.publicationMonth}" th:src="@{/Gtk-refresh-blue.svg}">
                  </a>
                  <!-- refreshs by year -->
                  <a th:href="@{/{id}/rest/refreshbyyear/{year}(id=${org.id},repo=${repo},year=${media.publicationYear})}" target="_blank" th:if="'missing' == ${tab}">
                    <img width="24" height="24" th:alt="'refresh ' + ${media.publicationYear}" th:src="@{/Gtk-refresh-red.svg}">
                  </a>
                  <a th:href="@{/{id}/rest/refreshimagesbyyear/{year}(id=${org.id},repo=${repo},year=${media.publicationYear})}" target="_blank" th:if="'missing/images' == ${tab}">
                    <img width="24" height="24" th:alt="'refresh ' + ${media.publicationYear}" th:src="@{/Gtk-refresh-red.svg}">
                  </a>
                  <a th:href="@{/{id}/rest/refreshvideosbyyear/{year}(id=${org.id},repo=${repo},year=${media.publicationYear})}" target="_blank" th:if="'missing/videos' == ${tab}">
                    <img width="24" height="24" th:alt="'refresh ' + ${media.publicationYear}" th:src="@{/Gtk-refresh-red.svg}">
                  </a>
                  <a th:href="@{/{id}/rest/refreshdocumentsbyyear/{year}(id=${org.id},repo=${repo},year=${media.publicationYear})}" target="_blank" th:if="'missing/documents' == ${tab}">
                    <img width="24" height="24" th:alt="'refresh ' + ${media.publicationYear}" th:src="@{/Gtk-refresh-red.svg}">
                  </a>
		        </td>
		        <td th:utext="${#strings.abbreviate(media.description,2000)}"></td>
		        <td th:if="'missing' != ${tab} and 'missing/images' != ${tab} and 'missing/videos' != ${tab} and 'missing/documents' != ${tab}">
		          <div th:each="file : ${media.allCommonsFileNames}">
		            <a th:text="${file}" th:href="'https://commons.wikimedia.org/wiki/File:' + ${file}"></a><br>
		          </div>
		        </td>
		        <td th:if="'ignored' == ${tab}" th:text="${media.ignoredReasons}">
		        </td>
		      </tr>
	      </tbody>
	    </table>
	    <nav aria-label="Media navigation bottom" th:replace="~{_media :: pagination_nav(${medias})}"></nav>
    </div>
    <!-- Top terms tab -->
    <div th:if="${topterms}">
	    <table class="table table-sm table-hover">
	      <thead class="thead-dark">
		      <tr>
		        <th>Term</th>
		        <th>Occurrences</th>
		      <tr>
	      </thead>
	      <tbody>
		      <tr th:each="topterm : ${topterms}">
		        <td>
		          <a th:text="${topterm.termtext.utf8ToString()}"
		             th:href="@{/{id}/search?q={term}(id=${org.id},term=${topterm.termtext.utf8ToString()})}">
		          </a>
		        </td>
		        <td th:text="${topterm.docFreq}"></td>
		      </tr>
	      </tbody>
	    </table>
    </div>
    <div th:replace="~{_header :: scripts}"></div>
    <script th:src="@{/webjars/feather-icons/4.29.1/dist/feather.min.js}"></script>
    <script th:src="@{/webjars/geotiff/2.1.3/dist-browser/geotiff.js}"></script>
    <script th:src="@{/webjars/plotty/0.4.9/dist/plotty.min.js}"></script>
    <script th:inline="javascript">
/*<![CDATA[*/
	window.onload = function() {
		feather.replace();
		const { fromUrl } = GeoTIFF;
	    const medias = /*[[${medias}]]*/ {};
	    for (let x in medias.content) {
			const media = medias.content[x];
			const canvas = document.getElementById(media.id.mediaId);
			if (canvas != null && canvas.className == 'img_cog') {
				(async function() {
					const tiff = await fromUrl(media.previewUrl.replace('http://', 'https://'));
					const smallestImage = await tiff.getImage(await tiff.getImageCount() - 1);
					const data = await smallestImage.readRasters();
					new plotty.plot({
					  canvas,
					  data: data[0],
					  width: data.width,
					  height: data.height,
					  domain: [0, 256],
					  colorScale: "greys"
					}).render();
				})();
			}
		}
	}
/*]]>*/
	</script>
  </body>
</html>